/****************************************************Mission****************************************************************************************************************************/
.missionimages img {
    height: 200px;
    margin: 10px;
}

.missionimages {}

.missioninfo {
    grid-column-start: 2;
    grid-row-start: 1;
    grid-row-end: 4;

}