/*****************************************************************About us**********************************************************************************************************/

/****************************************************Mission****************************************************************************************************************************/
.missionimages img {
    height: 200px;
    margin: 10px;
}

.missionimages {}

.missioninfo {
    grid-column-start: 2;
    grid-row-start: 1;
    grid-row-end: 4;

}


/*********************************************Footer***************************************************************************************************************/
.footercontainer {
    /* max-width: 100%; */
    padding: 35px;
    font-family: 'Montserrat', sans-serif;
    background-color: #000;
    color: #ffffff;
    display: grid;
    grid-template-columns: auto auto auto 30%;
}

.eleft {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.eright {

    display: flex;
    flex-direction: column;
    /* align-items: center; */
    text-align: left;
    justify-content: center;
}

footer .eleft img {
    width: 250px;
}

.eleft a .fa {
    padding: 15px;
    padding-bottom: 20px;
    color: white;
}

.fleft h3 {
    margin: 20px 0;
}

.fleft ul {
    opacity: 0.5;
    list-style: none;
}

.fleft li a {
    color: white;
    text-decoration: none;
}

.fleft li {
    padding: 10px;
}

.fleft a:hover {
    color: #FF1217;
}


.fright h3 {
    margin: 20px 0;
}

.fright p {
    opacity: 0.5;
    margin: 0 0;
}

.fright h4 {
    margin: 10px 0;
    opacity: 0.7;

}

.fright a .fa {
    padding: 10px;
}

.eright p {
    opacity: 0.5;
    margin: 10px 0;

}

/***********************************************************************************************************************************************************************************/