* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    line-height: 150%;

}

.body {
    font-size: 100%;
}

h1 {
    font-size: 4em;

}

h2 {
    font-size: 3rem;
    /
}

h3 {
    font-size: 1.5rem;
}

p {
    font-size: 0.875em;

}

.headingfont {

    font-family: 'Montserrat', sans-serif;
}

.normalfont {

    font-size: 17px;
    font-family: 'Montserrat', sans-serif;
}

.container {
    margin: 30px 10px;
    background-color: #000;

}

/**************************navabr*******************************************************/
.blackbg {
    background-color: #000;
}

.navbar {
    color: white;
    background-color: #000;
    font-size: large;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.logo img {
    height: 80px;
}

.navright ul {
    list-style: none;
    display: flex;
    flex-direction: row;
}

.navright li {
    margin-left: 80px;
}

.navright ul li:hover {
    transform: scale(1.25);
}

.navright ul li a:hover {
    color: #0076FF;
}

.navright ul a {

    text-decoration: none;
    color: white;

}

.navright button {
    margin-right: 50px;
    height: 30px;
    width: 80px;
    border: 2px solid #0076FF;
    border-radius: 20px;
    background-color: #FFD700;
    color: #000;

}

.navright button a {
    color: black;
}

/**********************************burger********************************************************************/
.burger {
    background-color: #000000;
    color: rgb(255, 255, 255);
    z-index: 999;
    display: none;
    height: 100vh;
    width: 100%;
    position: fixed;
}

.burger ul {
    list-style: none;
    display: flex;
    flex-direction: column;
}

.burger ul li {
    margin-left: 20px;
    font-size: larger;
    margin-bottom: 50px;
}

.burger ul a {
    text-decoration: none;
    color: white;

}

.burger-icon {
    display: none;
    width: 50px;
    height: 50px;
    cursor: pointer;
    margin-right: 50px;
}

.burger-line {
    fill: none;
    stroke: #ffffff;
    stroke-width: 2;
    transition: stroke-dasharray 0.3s, stroke-dashoffset 0.3s;
}

.line1 {
    stroke-dasharray: 40 130;
}

.line2 {
    stroke-dasharray: 40 40;
}

.line3 {
    stroke-dasharray: 40 130;
}

.menu-open .line1 {
    /*  stroke-dashoffset: -80; */
    transform: rotate(45deg);
    transform-origin: 3px 14px;
}

.menu-open .line2 {
    stroke-dashoffset: -40;
    opacity: 0;
}


.menu-open .line3 {
    /* stroke-dashoffset: -80; */
    transform: rotate(-45deg);
    transform-origin: 10px 20px;
}

/******************************************titletext********************************************************************************************************************/
.titletext {
    display: grid;
    grid-template-columns: 50% auto;
}

.titletextleft {
    padding: 11%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#bee {
    font-family: 'Sacramento', cursive;
    color: #FFD700;
    font-size: 8rem;
}

#bee2 {
    text-transform: capitalize;
    margin-top: -40px;
    color: white;
}

/**************************************cards**********************************************************/

.cardcontainer {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    justify-items: center;
}

.card {
    border-top: 10px solid #FFD700;
    background-color: #F5F5F5;
    border-radius: 30px;
    margin-bottom: 30px;
    margin: 0px 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    vertical-align: middle;
    text-align: center;
    max-width: 347.413px;
}

.circle {
    border: 2px solid #0076FF;
    border-radius: 100%;
    background-color: transparent;
    background-color: #d5d5d5;
    backdrop-filter: blur(30px);
    width: 30%;
    padding: 35px;
    position: relative;
    bottom: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardcontent {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.introcardhead {

    padding: 10px 10px;
}

.introcardp {
    padding: 10px 30px;
}

.cardcontent {
    position: relative;
    bottom: 30px;
}

/*****************************info*****************************************************/
.infowrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.infocard {
    background-color: #d0cece;
    padding: 40px;
    width: 60%;
    border: 1px solid black;
    border-radius: 30px;
}


/******************************aboutus***********************************************/

.aboutus {
    padding: 100px 20px;
    padding-bottom: 20px;
}

.row1 {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    justify-content: center;
    justify-items: stretch;
    align-items: stretch;
}

.card2 {
    background-color: #F5F5F5;
    border-radius: 30px;
    width: 21rem;
    padding: 30px;
    margin: 10px;
}

.card2heading {
    margin: auto 10px;
    font-weight: bold;
}

.card2p {
    line-height: 200%;
    margin: 20px auto;
}

.card3 {
    background-color: #F5F5F5;
    border-radius: 30px;
    width: 20.75rem;
    padding: 30px;
    margin: 10px;
    grid-row: 2;
}

.borderleft {
    border-left: 3px solid;
}

#aui {
    width: 100%;
    margin: 10px;
    max-width: 41rem;
    grid-column: 2 / span 2;
    border-radius: 30px;
    border: 2px solid #0076FF;
}

#auh {
    color: #FFD700;
    text-align: center;
    margin: 20px;
    padding-top: 50px;
}

/***************************mission*****************************************************/
.ourmission {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 100px 20px;
}

.missionimages img {
    height: 200px;
    margin: 10px;
    border-radius: 30px;
    border: 2px solid #0076FF;
}

.missioninfo {
    padding: 30px 50px;
    grid-column-start: 2;
    grid-row-start: 1;
    grid-row-end: 4;
}

.missionleft {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    vertical-align: middle;
    text-align: center;
    margin-right: auto 20px;

}

.missionimg1 {
    display: flex;
    text-align: right;
    justify-content: right;
    align-items: center;

}

.missionimg2 {
    grid-column-start: 2;
}

#missionbold {
    font-weight: bold;
    color: white;
}

#missiontext {
    color: white;

}

#omh {
    color: #FFD700;
    text-align: center;
    margin: 20px;
}

/*********************************footer*************************************************/
.footercontainer {
    border-top: 2px dotted #FFD700;
    padding: 10px 15px;
    font-family: 'Montserrat', sans-serif;
    background-color: #000;
    color: #ffffff;
    display: grid;
    grid-template-columns: 20% auto auto 30%;
}

.eleft {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.eright {

    display: flex;
    flex-direction: column;
    /* align-items: center; */
    text-align: center;
    justify-content: center;
}

.fleft {
    text-align: center;
}

.fright {
    text-align: center;
}

footer .eleft img {
    width: 250px;
}

.eleft a .fa {
    padding: 15px;
    padding-bottom: 20px;
    color: white;
}

.fleft h3 {
    margin: 20px 0;
}

.fleft ul {
    opacity: 0.5;
    list-style: none;
}

.fleft li a {
    color: white;
    text-decoration: none;
}

.fleft li {
    padding: 10px;
    padding-bottom: 0;

}

.fleft a:hover {
    color: #FFD700;
}


.fright h3 {
    margin: 20px 0;
}

.fright p {
    opacity: 0.5;
    margin: 0px 0;
}

.fright h4 {
    margin: 10px 0;
    opacity: 0.7;

}

.fright a .fa {
    padding: 10px;
}

.eright p {
    opacity: 0.5;
    margin: 10px 0;

}

/*******************************************************************************************/

@media (min-width: 1921px) {}

@media only screen and (min-width:1600px) and (max-width:1899px) {}

@media only screen and (min-width:1350px) and (max-width:1599px) {
    .titletext {
        grid-template-columns: auto auto;
    }

}

@media only screen and (min-width:1280px) and (max-width:1349px) {
    .titletext {
        grid-template-columns: auto auto;
    }

    .normalfont {
        font-size: 16px;
    }
}

@media only screen and (min-width:1121px) and (max-width:1279px) {
    .titletext {
        grid-template-columns: auto auto;
    }

    .normalfont {
        font-size: 16px;
    }

    .missionleft {
        grid-template-columns: 1fr;
    }

    .missionimg2 {
        grid-column-start: auto;
    }

    .missionimg1 {
        justify-content: center;
    }
}

@media only screen and (min-width:992px) and (max-width:1120px) {
    .titletext {
        grid-template-columns: auto auto;
    }

    .normalfont {
        font-size: 16px;
    }

    .navright {
        display: none;
    }

    .burger-icon {
        display: inline-block;
    }

    .footercontainer {
        grid-template-columns: auto auto;
    }

    .footercontainer .eleft img {
        height: 200px;
    }

    .fright {
        display: flex;
        order: 4;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .fleft {
        display: none;

    }

    .eright {
        display: none;
    }

    .missionleft {
        grid-template-columns: 1fr;
    }

    .missionimg2 {
        grid-column-start: auto;
    }

    .missionimg1 {
        justify-content: center;
    }


}

@media only screen and (min-width:768px) and (max-width:991px) {
    .titletext {
        grid-template-columns: auto;
    }

    .normalfont {
        font-size: 16px;
    }

    .navright {
        display: none;
    }

    .burger-icon {
        display: inline-block;
    }

    .card {
        margin-bottom: 30px;
        margin: 0px 20px;
        padding: 0%;
    }

    .introcardhead {

        padding: 10px 10px;
    }

    .introcardp {
        padding: 10px 15px;
    }

    .titletextleft {
        padding: 6%;
    }

    #bee {
        font-size: 8rem;
        text-align: center;
    }

    .footercontainer {
        grid-template-columns: auto auto;
    }

    .footercontainer .eleft img {
        height: 200px;
    }

    .fright {
        display: flex;
        order: 4;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .fleft {
        display: none;

    }

    .eright {
        display: none;
    }

    .row1 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
    }

    #aui {
        grid-row-start: 1;
        grid-column: 1 / span 2;
        margin: 40px;
    }

    .card3 {
        grid-row: auto;
    }


    .missionleft {
        grid-template-columns: 1fr;
    }

    .missionimg2 {
        grid-column-start: auto;
    }

    .missionimg1 {
        justify-content: center;
    }

    .aboutus {
        padding: 100px 00px;

    }
}

@media (max-width: 767px) {
    .titletext {
        grid-template-columns: auto;
    }

    .navright {
        display: none;
    }

    .burger-icon {
        display: inline-block;
    }

    .titletextleft {
        padding: 4%;
    }

    #bee {
        font-size: 6rem;
        text-align: center;
    }

    .cardcontainer {
        grid-template-columns: auto auto;
    }

    .card {
        margin: auto 20px;
        margin-bottom: 50px;
        border-radius: 30px;
    }

    .infocard {
        width: 100%;
    }

    #cardthree {
        grid-column: 1/3;
        width: 40%;
        margin-top: 50px;
    }

    .footercontainer {
        grid-template-columns: auto auto;
    }

    .footercontainer .eleft img {
        height: 200px;
    }

    .fright {
        display: flex;
        order: 4px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .fleft {
        display: none;

    }

    .eright {
        display: none;
    }

    .ourmission {
        grid-template-columns: 1fr;
    }

    .missioninfo {
        padding: 30px 50px;
        grid-column-start: 1;

        grid-row-start: 2;
    }

    .missionimages img {
        height: 150px;

    }

    .missionleft {
        grid-row-start: 1;
        grid-template-columns: 1fr 1fr;
    }

    .missionimg2 {
        grid-column-start: auto;
    }

    .missionimg1 {
        justify-content: center;
    }

    .row1 {
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
    }

    #aui {
        grid-row-start: 1;
        grid-column: 1 / span 1;
        margin: 40px;
    }

    .card2 {
        width: auto;
    }

    .card3 {
        grid-row: auto;
        width: auto;
    }

    .aboutus {
        padding: 100px 00px;

    }
}

@media (max-width:600px) {
    .ourmission {
        grid-template-columns: 1fr;
    }

    .missioninfo {
        padding: 30px 50px;
        grid-column-start: 1;
        grid-row-start: 2;
    }

    .missionimg1 {
        display: none;
    }

    .missionimages img {
        height: auto;
        width: 90%;

    }

    .missionleft {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .missionimg2 {
        grid-column-start: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

    }

    .missionimg1 {
        justify-content: center;
    }
}

@media (max-width:479px) {
    .titletext {
        grid-template-columns: auto;
    }

    .normalfont {
        font-size: 16px;
    }

    .navright {
        display: none;
    }

    .burger-icon {
        display: inline-block;
    }

    .titletextleft {
        padding: 4%;
    }

    #bee {
        font-size: 6rem;
        text-align: center;
    }

    .cardcontainer {
        grid-template-columns: auto;
    }


    .infocard {
        width: 100%;

    }

    .card {
        margin: 0px 20px;
        margin-bottom: 50px;
        padding: 0%;
    }

    #cardthree {
        grid-column: auto;
        width: auto;
        margin-top: auto;
    }

    .introcardhead {

        padding: 10px 10px;
    }

    .introcardp {
        padding: 10px 15px;
    }

    .footercontainer {
        grid-template-columns: auto;
    }

    .footercontainer .eleft img {
        height: 200px;
    }

    .fright {
        display: flex;
        order: 4px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .fleft {
        display: none;

    }

    .eright {
        display: none;
    }

    .row1 {
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
    }

    #aui {
        grid-row-start: 1;
        grid-column: 1 / span 1;
        margin: 40px;
    }

    .card2 {
        width: auto;
    }

    .card3 {
        grid-row: auto;
        width: auto;
    }

}