* {
    margin: 0;
    padding: 0;

}

element.style {
    /* overflow-x: hidden; */
}

.grid-container {
    display: grid;
    grid-template-rows: auto 1fr 1fr 1fr 1fr auto;
    height: 100vh;
}

.header {
    background-color: #000000;
    color: #fff;
    padding: 14px;
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    justify-items: center;
}

.logo {
    margin-right: 20px;
}

.navbar {
    font-family: 'Caveat', cursive;
    font-size: 155%;
    display: flex;
    justify-content: center;


}

a {
    padding: 0 12px;
    color: #ffffff;
    position: relative;
    text-decoration: none;
}

a::before {
    align-content: center;
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    border-radius: 4px;
    background-color: #ffffff;
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
}

a:hover::before {
    transform-origin: left;
    transform: scaleX(1);
}



@media (max-width: 768px) {
    .header {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .navbar {
        margin-top: 10px;
    }
}


.block1 {
    color: white;
    background-color: #000000;
    text-decoration: solid;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    margin-top: 0px;
    padding-top: 80px;
    font-family: 'Oswald',
        sans-serif;
    height: 362px;

}

.gradient {
    display: inline-block;
    background: -webkit-linear-gradient(#eee, #ff6a00);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

#small {
    color: #949494;
    font-size: 10px;
    font-weight: lighter;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 10px;

}

.btn-hover {
    width: 200px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin: 20px;
    height: 55px;
    text-align: center;
    border: none;
    background-size: 300% 100%;
    border-radius: 50px;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover:hover {
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover:focus {
    outline: none;
}

.btn-hover.color-4 {
    background-image: linear-gradient(to right, #fc6076, #ff9a44, #ef9d43, #e75516);
    box-shadow: 0 4px 15px 0 rgba(252, 104, 110, 0.75);
}


.block2 {
    background-color: white;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 49px;
    margin: 74px;
    padding: 31px;
    margin-top: 20px;
}

@media (max-width: 768px) {
    .block2 {
        grid-template-columns: 1fr;
        margin: 5px;
    }



    .card {
        width: 270px;
    }
}

.card {
    background-color: rgb(224, 224, 224);
    padding: 43px 20px 20px 20px;
    text-align: center;
    border-radius: 70px;
    height: 300px;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    border: 1px solid rgb(154, 154, 154);
    justify-items: center;
}

.block2-text {
    font-family: 'Caveat', cursive;
    /* font-family: 'Montserrat Alternates', sans-serif; */
    text-align: center;
    margin-top: 50px;
    /* margin-bottom: 20px; */
    font-size: 60px;
}

.cardtext {
    padding: 20px;
    text-align: justify;
}

.block-3-wrapper {
    background-color: #000000;
}

.block3-text {
    color: white;
    font-family: 'Caveat', cursive;
    text-align: center;
    margin-top: 50px;
    font-size: 60px;
}

.block3 {

    background-color: #000000;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0px;
    margin: 74px;
    padding: 31px;
    margin-top: 20px;
    justify-items: center;


}

.card3 {
    background-color: rgb(224, 224, 224);
    padding: 22px 20px 20px 20px;
    text-align: center;
    border-radius: 70px;
    height: 400px;
    width: 452px;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    border: 1px solid rgb(154, 154, 154);
    justify-items: center;
}

@media (max-width: 767px) {
    .block3 {
        grid-template-columns: 1fr;
        width: 270px;
        margin: 0;
    }

    .card3 {
        height: 577px;
        width: 279px;

    }
}

#one {
    padding: 20px;
    text-align: justify;

}

#but2 {
    position: relative;
    /*  display: grid; */
    height: 33px;
    font-size: 14px;
    width: 109px;
    right: 152px;
    bottom: 28px;
}

.cardtext2 {
    padding: 0px 20px 20px 20px;
    text-align: justify;
    position: relative;
    bottom: 28px;
}


.block4-text {
    font-family: 'Caveat', cursive;
    text-align: left;
    margin-top: 50px;
    font-size: 60px;
    position: relative;
    left: 110px;
}




.block5-wrapper {
    background-color: whitesmoke;
}



.block5 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-top: 50px;
}

.text {

    padding: 20px;
}

.image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.image img {
    max-width: 40%;
    max-height: 100%;
    position: relative;
    top: 100px;
}

#two {
    font-family: 'Caveat', cursive;
    text-align: left;
    margin-top: 50px;
    font-size: 60px;
    position: relative;
    left: 110px;
}

#foundertext {
    margin-left: 112px;
    text-transform: capitalize;
    text-align: justify;
}

.block6 {
    background-color: #000000;
    color: #fff;
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-top: 0px;
    padding-top: 60px;
    padding-left: 131px;
}

.form {
    padding-left: 100px;
    padding: 20px;
}

.contactform {
    background-color: #000000;
    text-align: left;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 15px;
    border-radius: 5px;
    border-style: groove;
    border-color: #ff6a00;
    margin: 0px 0px 10px 0px;
    padding: 0px 0px 0px 20px;
    height: 30px;
    width: 203px;
    display: inline-block;
}

.contactform1 {
    background-color: #000000;
    text-align: left;
    color: rgb(255, 255, 255);
    text-transform: capitalize;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 15px;
    border-radius: 5px;
    border-style: groove;
    border-color: #ff6a00;
    margin: 0px 0px 10px 0px;
    padding: 0px 0px 0px 20px;
    height: 30px;
    width: 442px;
    display: inline-block;
}

.last {
    font-family: 'Caveat', cursive;
    /* text-align: left; */
    /* margin-top: 50px; */
    font-size: 40px;
    position: relative;
    left: 110px;
    height: 88px;
}

.contacthead {
    display: inline-block;
    color: white;
    height: 50px;
}

.contact {
    padding-top: 60px;
    padding-left: 137px;
    display: inline-block;
    color: #ff6a00;
}

@media (max-width: 767px) {

    #foundertext {
        margin-left: 10px;
    }

    .block5 {
        grid-template-columns: 1fr;
        padding: 1px;
    }

    .form {
        width: 80%;
    }

    .contactform {
        width: 80%;
    }

    .contactform1 {
        width: 80%;
    }

    .block6 {
        grid-template-columns: 1fr;
        padding-left: 20px;
        padding-top: 0;
    }

    .image {
        position: relative;
        bottom: 121px;
    }

    .contact {
        padding-left: 20px;
    }

    .last {
        left: 0px;
    }

    #two {
        left: 75px;
    }

    .block4-text {
        left: 70px
    }

    .header {
        display: block;
    }
}